# Netlify
.netlify

# Node modules
node_modules/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Ne PAS ignorer assets (important pour le déploiement)
# assets/ doit être inclus
